﻿/*body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif !important;
    background: url("../Images/mdl_bg_1.jpeg") no-repeat bottom;
    background-size: cover;
    background-attachment: fixed;
}*/

.hidden{
    display:none;
}

input {
    border: 1px solid black;
    margin-bottom: .5em;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error {
    border: 1px solid red;
    font-weight: 300;
    color: red;
}


/*for main info boxes*/
.info-box-custom {
    border-radius: 0.25rem;
    background-color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 70px;
    padding: 0.3rem;
    position: relative;
    width: 100%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.widget-user-33 {
    float: left;
    height: auto;
    width: 65 px;
}
