﻿@{
    ViewBag.Title = "Home-Team Leader";
}
@model PPMPortal.Models.Cd_All
<div class="row">
    <div class="col-md-12">
        <!-- Widget: user widget style 2 -->
        <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-warning">
                <div class="widget-user-image">
                    <img class="img-circle elevation-2" src="/Images/profile.png" alt="User Avatar">
                </div>
                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">@Session["name"]</h3>
                <h5 class="widget-user-desc">@Session["user_type"]</h5>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-4">
        <div class="info-box shadow" id="contCreateUser">
            <span class="info-box-icon bg-warning"><i class="ion people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-number">Evaluation</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-4">
        <div class="info-box shadow" id="contCreateUser">
            <span class="info-box-icon bg-warning"><i class="ion people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-number">Reports</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-4">
        <div class="info-box shadow" id="contCreateUser">
            <span class="info-box-icon bg-warning"><i class="ion people-outline"></i></span>
            <div class="info-box-content">
                <span class="info-box-number">Other</span>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary" id="mainContent">

    <div id="addUserDiv">
        <div class="card-header bg-success">
            <h3 class="card-title">Select A Clip</h3>
        </div>
        <form>
            <div class="row">
                <!-- left column -->
                <!-- general form elements -->
                <div class="col-md-3">
                    <div class="card card-primary">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="GroupId">Group</label>
                                @Html.DropDownListFor(model => model.groupName.group_name, ViewData["Groups"] as SelectList, new { @class = "form-control tbox", @id = "GroupId", @name = "Groups" })
                            </div>
                            <div class="form-group">
                                <label for="SkillId">Skill</label>
                                @Html.DropDownListFor(model => model.skill, ViewData["Skills"] as SelectList, new { @class = "form-control tbox", @id = "SkillId", @name = "Skills" })
                            </div>
                            <div class="form-group">
                                <label for="LanguageId">Language</label>
                                @Html.DropDownListFor(model => model.language, ViewData["Languages"] as SelectList, new { @class = "form-control tbox", @id = "LanguageId", @name = "Languages" })
                            </div>
                            <div class="form-group">
                                <label for="AgentsId">Agent ID</label>
                                @Html.DropDownListFor(model => model.language, ViewData["Agents"] as SelectList, new { @class = "form-control tbox", @id = "AgentsId", @name = "Agents" })
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputFromDate">From</label>
                                        <input type="date" class="form-control" id="inputFromDate">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputToDate">To</label>
                                        <input type="date" class="form-control" id="inputToDate">
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-lg" id="btnFindClipTL">Find</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">

                    <div class="card card-primary">
                        <div class="card-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <table id="tblSelectedVoiceClip" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Voice Clip ID</th>
                                                    <th scope="col">Agent ID</th>
                                                    <th scope="col">Group</th>
                                                    <th scope="col">Skill</th>
                                                    <th scope="col">Language</th>
                                                    <th scope="col">Duration</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div id="evaluateClipDiv">
        <div class="card-header bg-info">
            <h3 class="card-title">Evaluate The Clip</h3>
        </div>
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputVCID">Voice Clip ID</label>
                            <input type="text" class="form-control" id="inputVCID" readonly>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="inputVCName">Voice Clip Name</label>
                            <input type="text" class="form-control" id="inputVCName" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputAgentID">Agent ID</label>
                            <input type="text" class="form-control" id="inputAgentID" readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputVCDuration">Voice Clip Duration</label>
                            <input type="text" class="form-control" id="inputVCDuration" readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputTakenDate">Taken Date</label>
                            <input type="text" class="form-control" id="inputTakenDate" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <button type="button" class="btn btn-primary">Play</button>
                    <button type="button" class="btn btn-warning">Pause</button>
                    <button type="button" class="btn btn-danger" id="reselect">Reselect</button>

                </div>
            </div>
        </div>
        <div class="card card-primary">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputFile">Scorecard</label>
                    @Html.DropDownListFor(model => model.scorecardName, ViewData["Scorecards"] as SelectList, "--Select a score card first--", new { @class = "form-control tbox", @id = "ScorecardId", @name = "Scorecards" })
                </div>
                <div class="card-body table-responsive p-0">
                    <table id="tblQuestionE" class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Question</th>
                                <th scope="col">Marks</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <textarea class="form-control" id="comment" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg">Submit</button>
                    <button type="submit" class="btn btn-primary btn-lg">Hold</button>
                    <button type="submit" class="btn btn-danger btn-lg">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="viewUserDiv">
        <div class="card-header bg-info">
            <h3 class="card-title">View User List</h3>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>UserName</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>183</td>
                        <td>John Doe</td>
                        <td>Active</td>
                        <td>Admim</td>
                        <td>john@gmail.com</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts_external{

    <script type="text/javascript">

        init();
        var vc_scTL;
        var vc_grTL;
        var vc_skTL;
        var vc_lnTL;
        var vc_agTL;

        function init() {
            $("#addUserDiv").show();
            $("#viewUserDiv").hide();
            $("#evaluateClipDiv").hide();
        }

        $("#contCreateUser").click(function () {
            $("#addUserDiv").show();
            $("#viewUserDiv").hide();
        });

        $("#contViewUser").click(function () {
            $("#addUserDiv").hide();
            $("#viewUserDiv").show();
        });

        $("#evaluate").click(function () {
            $("#addUserDiv").hide();
            $("#evaluateClipDiv").show();
        });

        $("#reselect").click(function () {
            $("#evaluateClipDiv").hide();
            $("#addUserDiv").show();
        });

        $('#GroupId').on('change', function () {
            vc_grTL = $(this).val();
            //vc_gr = $(this).find(":selected").val();
            //alert("The text has been changed." + vc_gr);
        });

        $("#SkillId").change(function () {

            vc_skTL = $(this).val();
            //alert("The text has been changed." + vc_sk);
        });

        $("#LanguageId").change(function () {

            vc_lnTL = $(this).val();
            //alert("The text has been changed." + vc_ln);
        });

        $("#AgentsId").change(function () {

            vc_agTL = $(this).val();
            //alert("The text has been changed." + vc_ag);
        });

        $("#btnFindClipTL").click(function () {


            var voiceTL = {};
            //voice.scorecard_id = vc_sc;
            voiceTL.group_id = vc_grTL;
            voiceTL.skill_id = vc_skTL;
            voiceTL.language_id = vc_lnTL;
            voiceTL.user_id = vc_agTL;
            voiceTL.from_date = $("#inputFromDate").val();
            voiceTL.to_date = $("#inputToDate").val();

            loadSelectedVoiceClip(voiceTL);

        });

        function loadSelectedVoiceClip(voiceTL) {

            $('#tblSelectedVoiceClip').DataTable().clear().destroy();

            $(document).ready(function () {

                var k = '{ "group_id": ' + voiceTL.group_id + ', "skill_id": ' + voiceTL.skill_id + ', "language_id": ' + voiceTL.language_id + ', "user_id": ' + voiceTL.user_id + ', "from_date": ' + voiceTL.from_date + ', "to_date": ' + voiceTL.to_date + ' }';


                var k2 = JSON.stringify(voiceTL);

                tbl = $('#tblSelectedVoiceClip').DataTable(

                    {
                        "responsive": true,
                        "lengthChange": false,
                        "autoWidth": false,
                        "dom": 'Bfrtip',
                        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                        "ajax": {
                            "url": "/TeamLeader/GetSelectedVoiceClipTL",
                            "type": "POST",
                            "data": { "group_id": voiceTL.group_id, "skill_id": voiceTL.skill_id, "language_id": voiceTL.language_id, "user_id": voiceTL.user_id, "from_date": voiceTL.from_date, "to_date": voiceTL.to_date },
                            //"data": { "sc_id": voice.language_id },
                            "datatype": "json"
                        },
                        "columnDefs": [
                            {
                                "defaultContent": "-",
                                "targets": "_all"
                            },
                            {
                                "targets": 6,
                                "data": "active",
                                "render": function (data, type, row) {
                                    return '<button class="btn btn-info" id="' + row.id + '" onclick="vclipViewClick(this)"><i class="fas fa-edit"></i> Evaluate</button>';
                                }
                            }
                        ],
                        "columns": [
                            { "data": "vc_id" },
                            { "data": "username" },
                            { "data": "group_name" },
                            { "data": "skill" },
                            { "data": "language" },
                            { "data": "clip_duration" },
                            { "data": "" }
                        ]
                    }
                )
            });
        }

        function vclipViewClick(obj) {
            var firstid = $(obj).closest('tr').find('td:first').html();
            getVoiceClip(firstid);

            $("#evaluateClipDiv").show();
            $("#addUserDiv").hide();

        }

        function getVoiceClip(vc_id) {

            //resetPrivilegeDatatable();

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetVoiceClipInfoTL", "TeamLeader")',
                data: '{"vc_id":"' + vc_id+'"}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    setVoiceClipInfo(data);
                    //loadVoiceClips(vc_id);
                },
                error: function () {
                    notifyToast('bg-danger', '______________ Notification _____________', '', 'Selected voice clip details loading failed');
                }
            });
        }

        function setVoiceClipInfo(clipdetails) {

            document.getElementById("inputVCID").value = clipdetails.vc_id;
            document.getElementById("inputVCName").value = clipdetails.file_path;
            document.getElementById("inputAgentID").value = clipdetails.username;
            document.getElementById("inputVCDuration").value = clipdetails.clip_duration;
            //document.getElementById("inputTakenDate").value = clipdetails.taken_date;
            $('#inputTakenDate').val(getDateTime(clipdetails.taken_date, true));

            document.getElementById("inputVCID").disabled = true;
            document.getElementById("inputVCName").disabled = true;
            document.getElementById("inputAgentID").disabled = true;
            document.getElementById("inputVCDuration").disabled = true;
            document.getElementById("inputTakenDate").disabled = true;

            //loadPrivilegeDataToDatatable(clipdetails.username);
        }

        function loadQuestionsE(vc_sc) {

            $('#tblQuestionE').DataTable().clear().destroy();

            $(document).ready(function () {

                tbl = $('#tblQuestionE').DataTable(

                    {
                        "responsive": true,
                        "lengthChange": false,
                        "autoWidth": false,
                        "dom": 'Bfrtip',
                        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                        "ajax": {
                            "url": "/TeamLeader/GetScorecardQuestionsTL",
                            "type": "POST",
                            "data": { "score_card_id": vc_sc},
                            //"data": { "sc_id": voice.language_id },
                            "datatype": "json"
                        },
                        "columnDefs": [
                            {
                                "defaultContent": "-",
                                "targets": "_all"
                            },
                            {
                                "targets": 1,
                                "data": "active",
                                "render": function (data, type, row) {
                                    return '<input class="form-control" id="txtbox_marks" name="txtbox_marks" type="text"  value = "">';
                                }
                            }
                        ],
                        "columns": [
                            { "data": "question" },
                            { "data": "" }
                        ]
                    }
                )
            });
        }

    </script>
}