﻿@{
    ViewBag.Title = "Home-Agent";
}
@model PPMPortal.Models.Cd_All
<div class="row">
    <div class="col-md-12">
        <!-- Widget: user widget style 2 -->
        <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-secondary">
                <div class="widget-user-image">
                    <img class="img-circle elevation-2" src="/Images/profile.png" alt="User Avatar">
                </div>
                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">@Session["name"]</h3>
                <h5 class="widget-user-desc">@Session["user_type"]</h5>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-6">
        <div class="info-box shadow" id="contCreateUser">
            <span class="info-box-icon bg-secondary"><i class="far fa-copy"></i></span>
            <div class="info-box-content">
                <span class="info-box-number">View Marks</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="info-box shadow" id="grievance">
            <span class="info-box-icon bg-secondary"><i class="far fa-copy"></i></span>
            <div class="info-box-content">
                <span class="info-box-number">Grievance Request</span>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary" id="mainContent">
    <div id="addUserDiv">
        <div class="card-header bg-info">
            <h3 class="card-title">View Marks</h3>
        </div>
            <table id="tblViewMarks" class="table table-hover" >
                <thead>
                    <tr>
                        <th scope="col">Call ID</th>
                        <th scope="col">Scorecard</th>
                        <th scope="col">Call Date / Time</th>
                        <th scope="col">Total Score</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
    </div>

    <div id="viewUserDiv">
        <div class="card-header bg-info">
            <h3 class="card-title">View User List</h3>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>UserName</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>183</td>
                        <td>John Doe</td>
                        <td>Active</td>
                        <td>Admim</td>
                        <td>john@gmail.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <div id="grievanceRequest">
        <div class="card-header bg-info">
            <h3 class="card-title">Grievance Request</h3>
        </div>
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="callid">Call ID</label>
                                <input type="text" class="form-control" id="callid" placeholder="Call ID">
                            </div>
                            <div class="form-group">
                                <label for="evaluationid">Evaluation ID</label>
                                <input type="text" class="form-control" id="evaluationid" placeholder="Evaluation ID">
                            </div>
                            <div class="form-group">
                                <label for="agentComment">Agent's Comment</label>
                                <textarea class="form-control" id="agent'scomment" rows="3" placeholder="Agent's Comment"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="requestedDate">Requested Date</label>
                                <input type="date" class="form-control" id="requestedDate" placeholder="Requested Date">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-lg">Request</button>
                                <button type="submit" class="btn btn-danger btn-lg">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts_external{

    <script type="text/javascript">

        init();

        function init() {
            $("#addUserDiv").show();
            $("#viewUserDiv").hide();
            $("#grievanceRequest").hide();
            loadAllMarks();
        }

        $("#contCreateUser").click(function () {
            $("#addUserDiv").show();
            $("#viewUserDiv").hide();
            $("#grievanceRequest").hide();
        });

        $("#contViewUser").click(function () {
            $("#addUserDiv").hide();
            $("#viewUserDiv").show();
            $("#grievanceRequest").hide();
        });

        $("#grievance").click(function () {
            $("#grievanceRequest").show();
            $("#viewUserDiv").hide();
            $("#addUserDiv").hide();
        });

        $("#btngrievance").click(function () {
            $("#grievanceRequest").show();
            $("#viewUserDiv").hide();
            $("#addUserDiv").hide();
        });

        function loadAllMarks() {
            $(document).ready(function () {
                $('#tblViewMarks').DataTable(
                    {
                        "responsive": true,
                        "lengthChange": false,
                        "autoWidth": true,
                        "dom": 'Bfrtip',
                        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                        "ajax": {
                            "url": "/Agent/getConnIPCC",
                            "type": "POST",
                            "datatype": "json"
                        },
                        "columnDefs": [
                            {
                                "defaultContent": "-",
                                "targets": "_all"
                            },
                            {

                                "targets": 3,
                                "render": function (data, type, row, meta) {

                                    var strTimestamp = data.slice(6, 19);
                                    var intTimestamp = parseInt(strTimestamp);
                                    var date = new Date(intTimestamp);
                                    var strDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() + "  "
                                        + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
                                    return strDate;
                                }
                            },
                            {
                                "targets": 4,
                                "data": "active",
                                "render": function (data, type, row) {
                                    return '<button class="btn btn-info" id="' + row.id + '" onclick="userViewClick(this)"><i class="fas fa-eye"></i> View</button>'+
                                     '<button class="btn btn-info" id="' + row.id + '" onclick="userViewClick(this)"><i class="fas fa-eye"></i> Grievance Request</button>';
                                }
                            },
                            {
                                "targets": 4
                                ,
                                "data": "active",
                                "render": function (data, type, row) {
                                    return '<button class="btn btn-info" id="' + row.id + '" onclick="userViewClick(this)"><i class="fas fa-eye"></i> Grievance Request</button>';
                                }
                            }
                        ],
                        "columns": [
                            { "data": "vc_id" },
                            { "data": "name" },
                            { "data": "score" },
                            { "data": "taken_date" }
                        ]
                    }
                )
            });
        }

    </script>
}
