﻿@{
    ViewBag.Title = "Home-Evaluator";
}
@model PPMPortal.Models.Cd_All
<div class="row">
    <div class="col-md-6">
        <!-- Widget: user widget style 2 -->
        <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-success">
                <div class="widget-user-image">
                    <img class="img-circle elevation-2" src="/Images/profile.png" alt="User Avatar">
                </div>
                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">@Session["name"]</h3>
                <h5 class="widget-user-desc">@Session["user_type"]</h5>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card card-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="row widget-user-header bg-success">
                <div class="col-lg-6 col-6">
                    <div class="info-box shadow" id="contEvaluation">
                        <span class="info-box-icon bg-success"><i class="far fa-copy"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">Evaluation</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <div class="info-box shadow" id="contAssCourse">
                        <span class="info-box-icon bg-success"><i class="far fa-copy"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-number">Assign Courses</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary" id="mainContent">

    <div id="contEvaluationDiv">
        <div class="card-header bg-success">
            <h3 class="card-title">Select A Clip</h3>
        </div>
        <div class="card card-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="GroupId">Group</label>
                            @Html.DropDownListFor(model => model.groupName.group_name, ViewData["Groups"] as SelectList, "--Select Group--", new { @class = "form-control tbox", @id = "GroupId", @name = "Groups" })
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="MainOptionId">Main Option</label>
                            @Html.DropDownListFor(model => model.mainOption, ViewData["MainOptions"] as SelectList, "--Select MainOption--", new { @class = "form-control tbox", @id = "MainOptionId", @name = "MainOptionId" })
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="SkillId">Skill</label>
                            <select class="form-control tbox" id="SkillId" name="SkillId"></select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="LanguageId">Language</label>
                            @Html.DropDownListFor(model => model.language, ViewData["Languages"] as SelectList, "--Select Language--", new { @class = "form-control tbox", @id = "LanguageId", @name = "Languages" })
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="AgentsId">Agent ID</label>
                            @Html.DropDownListFor(model => model.language, ViewData["Agents"] as SelectList, "--Select Agent--", new { @class = "form-control tbox", @id = "AgentId", @name = "Agent" })
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="inputFromDate">From</label>
                            <input type="date" class="form-control" id="inputFromDate">
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="inputToDate">To</label>
                            <input type="date" class="form-control" id="inputToDate">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-lg" id="btnFindClip">Find</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="evaluateClipDiv">
        <div class="row">
            <div class="col-md-5">
                <div class="card card-primary">
                    <div class="card-body">
                        <h4 class="modal-title">Voice clip info</h4>
                    </div>
                    <div class="card-body">
                        <div class="info-box bg-info">
                            <div class="info-box-content">
                                <span class="info-box-number">From : <span id="vcFromDate"></span> </span>
                                <span class="info-box-number">To : <span id="vcToDate"></span>  </span>
                                <span class="info-box-number">Agent : <span id="vcAgent"></span>  </span>
                            </div>
                            <div class="info-box-content">
                                <span class="info-box-number">Language : <span id="vcLanguage"></span>  </span>
                                <span class="info-box-number">Skill : <span id="vcSkill"></span>  </span>
                                <span class="info-box-number">Group : <span id="vcGroup"></span>  </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card card-primary">
                    <div class="card-body">
                        <h4 class="modal-title">Voice clip</h4>
                    </div>
                    <div class="card-body">
                        <div class="info-box bg-info">
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-success" id="btnReselectClip">Reselect</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="loadedVoiceClips">
                                <div id="loaderId">
                                    <img src="~/Content/loader2.gif">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="scorecardId">Scorecard</label>
                            @Html.DropDownListFor(model => model.scorecardName, ViewData["RegularSC"] as SelectList, "-- Select a scorecard --", new { @class = "form-control tbox", @id = "scorecardId", @name = "scorecardId" })
                        </div>
                        <hr />
                        <div class="form-group">
                            <label for="comment">Comment</label>
                            <textarea class="form-control" id="txtEvalComment" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-primary">
                    <div class="card-body">
                        <table id="tblSCQuestions" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Criteria</th>
                                    <th scope="col">Max Score</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Marks</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-primary">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="inputCQScorecard">Call Quality Scorecard</label>
                            @Html.DropDownListFor(model => model.scorecardName, ViewData["CallSurveySC"] as SelectList, "-- Select a scorecard --", new { @class = "form-control tbox", @id = "inputCQScorecard", @name = "inputCQScorecard" })
                        </div>
                        <hr />
                        <div class="form-group">
                            <button type="button" class="btn btn-success" id="btnSubmitEvaluate">Submit</button>
                            <button type="button" class="btn btn-primary" id="btnHoldEvaluate">Hold</button>
                            <button type="button" class="btn btn-danger" id="btnResetEvaluate">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-primary">
                    <div class="card-body">
                        <table id="tblCQSCQuestions" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Criteria</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Marks</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="assignCoursesDiv">
        <div class="card-header bg-info">
            <h3 class="card-title">Assign For Courses</h3>
        </div>
        <div class="card card-primary">
            <div class="card-body">
                <div class="form-group">
                    <label for="agentID">Agent ID</label>
                    <select class="form-control" aria-label="">
                        <option selected></option>
                        <option value="1">09858</option>
                        <option value="2">10321</option>
                        <option value="3">12654</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="course">Course</label>
                    <select class="form-control" aria-label="">
                        <option selected></option>
                        <option value="1">Course 1</option>
                        <option value="2">Course 2</option>
                        <option value="3">Course 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="assignedBy">Assigned By</label>
                    <input type="text" class="form-control" id="assignedBy" placeholder="">
                </div>
                <div class="form-group">
                    <label for="assignedDate">Assigned Date</label>
                    <input type="date" class="form-control" id="assignedDate" placeholder="">
                </div>
                <div class="form-group">
                    <label for="completionDate">Target Completion Date</label>
                    <input type="date" class="form-control" id="completionDate" placeholder="">
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" aria-label="">
                        <option selected></option>
                        <option value="1">Assigned</option>
                        <option value="2">Completed</option>
                        <option value="3">Missed</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg">Assign</button>
                    <button type="submit" class="btn btn-danger btn-lg">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts_external{

    <script type="text/javascript">

        init();

        var tblSCQuestion;
        var tblCQSCQuestion;

        var vc_sc;
        var group_id;
        var skill;
        var mainOption;
        var language_id;
        var agent;
        var from_date;
        var to_date;

        var evalList = [];
        var eval = {};
        eval.ques_mapping_id = 0;
        eval.score = 0;
        eval.remarks = "";

        function init() {

            $("#contEvaluationDiv").show();
            $("#evaluateClipDiv").hide();
            $("#assignCoursesDiv").hide();
        }

        $("#contEvaluation").click(function () {
            $("#contEvaluationDiv").show();
            $("#evaluateClipDiv").hide();
            $("#assignCoursesDiv").hide();
        });

        $("#contAssCourse").click(function () {
            $("#contEvaluationDiv").hide();
            $("#evaluateClipDiv").hide();
            $("#assignCoursesDiv").show();
        });

        function loadClipInfo() {

            $('#vcFromDate').html(from_date);
            $('#vcToDate').html(to_date);
            $('#vcAgent').html(agent);
            $('#vcLanguage').html(language_id);
            $('#vcSkill').html(skill);
            $('#vcGroup').html(group_id);

            $('#vcFromDate').css('color', '#fff038');
            $('#vcToDate').css('color', '#fff038');
            $('#vcAgent').css('color', '#fff038');
            $('#vcLanguage').css('color', '#fff038');
            $('#vcSkill').css('color', '#fff038');
            $('#vcGroup').css('color', '#fff038');
        }

        $("#reselect").click(function () {

            vc_sc = 0;
            group_id = 0;
            mainOption = '';
            skill = '';
            language_id = '';
            agent = '';
            from_date = '';
            to_date = '';

            $("#evaluateClipDiv").hide();
            $("#contEvaluationDiv").show();
            $("#assignCoursesDiv").hide();
        });

        $("#scorecardId").change(function () {
            vc_sc = $(this).val();
            loadScoreCardQuestions(vc_sc);
        });

        $("#inputCQScorecard").change(function () {
            vc_sc = $(this).val();
            loadCQScoreCardQuestions(vc_sc);
        });

        $('#GroupId').on('change', function () {
            group_id = $(this).val();
        });

        $('#MainOptionId').on('change', function () {
            mainOption = $(this).find(":selected").val();
            getSkillListFromMainOption(mainOption);
        });

        $("#SkillId").change(function () {
            skill_id = $(this).val();
            skill = $("#SkillId option:selected").text();
        });

        $("#LanguageId").change(function () {
            language_id = $(this).val();
        });

        $("#AgentId").change(function () {
            agent = $(this).val();
        });

        $("#btnFindClip").click(function () {

            var voice = {};
            voice.group_id = group_id;
            voice.mainOption = mainOption;
            voice.skill = skill;
            voice.language_id = language_id;
            voice.agent = agent;
            voice.from_date = $("#inputFromDate").val();
            voice.to_date = $("#inputToDate").val();

            from_date = $("#inputFromDate").val();
            to_date = $("#inputToDate").val();

            $("#evaluateClipDiv").show();
            $("#contEvaluationDiv").hide();
            $("#assignCoursesDiv").hide();

            loadSelectedVoiceClip(voice);
            loadClipInfo();
            $('#loaderId').show();
        });

        $("#btnSubmitEvaluate").click(function () {

            var timeVal = Math.floor(Date.now() / 1000);

            var viewEval = {};
            viewEval.evaluation_id = ""+timeVal;
            viewEval.evaluated_agent = agent;
            viewEval.main_option_id = mainOption;
            viewEval.skill = skill;
            viewEval.lang_id = language_id;
            viewEval.remarks = $("#txtEvalComment").val();

            var evalListNew = [];
            evalListNew = uniqBy(evalList, JSON.stringify);
            var newArSize = evalListNew.length;
            console.log(evalListNew);

            var evalListNEW = [];
            for (var i = 0; i < newArSize; i++) {
                var val = {};
                val.evaluation_id = ""+timeVal;
                val.ques_mapping_id = evalListNew[i].ques_mapping_id;
                val.score = evalListNew[i].score;
                evalListNEW.push(val);
            }

            saveEvaluateClip(viewEval);
            saveEvaluatedQuesList(evalListNEW);
            evalList = [];
            evalListNEW = [];
        });

        //freaking awesome function
        function uniqBy(a, key) {
            var seen = {};
            return a.filter(function (item) {
                var k = key(item);
                return seen.hasOwnProperty(k) ? false : (seen[k] = true);
            })
        }

        function getSkillListFromMainOption(mainOptionid) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("getSkillList")',
                data: '{"mainOptionid":' + mainOptionid + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#SkillId').empty();
                    $.each(data, function (i,val) {
                        $("#SkillId").append($("<option></option>").val(this.skill_id).html(this.skill));
                    });
                },
                error: function () {
                    notifyToast('bg-danger', '______________ Notification _____________', '', 'Skill list load failed');
                }
            });
            return false;
        }

        function loadSelectedVoiceClip(voiceClip) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSelectedVoiceClipTest", "Evaluator")',
                    data: JSON.stringify(voiceClip),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (list) {
                        loadVoiceClip(list);
                        $('#loaderId').hide();
                    },
                    error: function () {
                        notifyToast('bg-error', '______________ Notification _____________', '', 'Question added failed');
                    }
                });
        }

        function loadVoiceClip(list) {
            $("#loadedVoiceClips").html("");
            list.forEach(showVal);
        }

        function showVal(item) {
            if (item != null && item != "") {
                var strArr = item.split("/");
                var clip_name = strArr[strArr.length - 1];
                //topbottom rightleft
                //top rightleft bottom
                $("#loadedVoiceClips").append(
                    "<div class='col-md-6' style='text-align: center; padding: 15px 10px 15px;' > <span class='info-box-number'>" + clip_name +
                    "</span> </div> <div class='col-md-6'> <audio controls style='padding: 5px 0;'><source src='" + item +
                    "'/>clip 1</audio> </div>");
            }
        }

        function saveEvaluateClip(eval) {

            $.ajax({
                    type: "POST",
                    url: '@Url.Action("EvaluateVoiceClip", "Evaluator")',
                    data: JSON.stringify(eval),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        //loadEvaluatedList(list);
                        notifyToast('bg-success', '______________ Notification _____________', '', 'Evaluation save success');
                    },
                    error: function () {
                        notifyToast('bg-error', '______________ Notification _____________', '', 'Evaluation save failed');
                    }
                });
        }

        function saveEvaluatedQuesList(quesList) {

            $.ajax({
                    type: "POST",
                    url: '@Url.Action("EvaluateVoiceClipResult", "Evaluator")',
                data: JSON.stringify({ evalQues: quesList }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        //loadEvaluatedList(list);
                        notifyToast('bg-success', '______________ Notification _____________', '', 'Evaluated Question list save success');
                    },
                    error: function () {
                        notifyToast('bg-error', '______________ Notification _____________', '', 'Evaluated Question list save failed');
                    }
                });
        }

        function resetEvaluationData() {

            $('#tblSCQuestions').DataTable().clear().destroy();
            $('#tblCQSCQuestions').DataTable().clear().destroy();
        }

        function loadEvaluatedList(vc_sc) {

            $('#tblSCQuestions').DataTable().clear().destroy();
            $(document).ready(function () {
                tblSCQuestion = $('#tblSCQuestions').DataTable(
                    {
                        "responsive": true,
                        "lengthChange": false,
                        "autoWidth": false,
                        "bInfo": false,
                        "paging": false,
                        "dom": 'Bfrtip',
                        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                        "ajax": {
                            "url": "/Evaluator/GetScorecardQuestions",
                            "type": "POST",
                            "data": { "score_card_id": vc_sc },
                            "datatype": "json"
                        },
                        "columnDefs": [
                            { "width": "10%", "targets": 0 },
                            { "width": "15%", "targets": 1 },
                            { "width": "60%", "targets": 2 },
                            { "width": "15%", "targets": 3 },
                            {
                                "defaultContent": "-",
                                "targets": "_all"
                            },
                            {
                                "targets": 3,
                                "data": "active",
                                "render": function (data, type, row) {

                                    var eval = {};
                                    eval.ques_mapping_id = row.question_mapping_id;

                                    var strArr = row.breakdown.split(".");
                                    var txt_first = '<select name="given_mark" id="given_mark">';
                                    var txt;

                                    eval.score = strArr[0];
                                    evalList.push(eval);

                                    for (var i = 0; i < strArr.length + 1; i++) {
                                        if (i != null && i != "") {
                                            //~~~dont know the reason i start from 1 not 0
                                            txt = txt + '<option value="' + strArr[i - 1] + '">' + strArr[i - 1] + '</option>';
                                        }
                                    }
                                    var txt_last = '</select>'
                                    return txt_first + txt + txt_last;
                                }
                            }
                        ],
                        "columns": [
                            { "data": "ques_id" },
                            { "data": "max_score" },
                            { "data": "question" },
                            { "data": "breakdown" }
                        ]
                    }
                )
            });
        }

        function loadScoreCardQuestions(vc_sc) {

            $('#tblSCQuestions').DataTable().clear().destroy();
            $(document).ready(function () {
                tblSCQuestion = $('#tblSCQuestions').DataTable(
                    {
                        "responsive": true,
                        "lengthChange": false,
                        "autoWidth": false,
                        "bInfo": false,
                        "paging": false,
                        "dom": 'Bfrtip',
                        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                        "ajax": {
                            "url": "/Evaluator/GetScorecardQuestions",
                            "type": "POST",
                            "data": { "score_card_id": vc_sc },
                            "datatype": "json"
                        },
                        "columnDefs": [
                            { "width": "10%", "targets": 0 },
                            { "width": "15%", "targets": 1 },
                            { "width": "60%", "targets": 2 },
                            { "width": "15%", "targets": 3 },
                            {
                                "defaultContent": "-",
                                "targets": "_all"
                            },
                            {
                                "targets": 3,
                                "data": "active",
                                "render": function (data, type, row) {

                                    var eval = {};
                                    eval.ques_mapping_id = row.question_mapping_id;

                                    var strArr = row.breakdown.split(".");
                                    var txt_first = '<select name="given_mark" id="given_mark">';
                                    var txt;

                                    eval.score = strArr[0];
                                    evalList.push(eval);

                                    for (var i = 0; i < strArr.length + 1; i++) {
                                        if (i != null && i != "") {
                                            //~~~dont know the reason i start from 1 not 0
                                            txt = txt + '<option value="' + strArr[i - 1] + '">' + strArr[i - 1] + '</option>';
                                        }
                                    }
                                    var txt_last = '</select>'
                                    return txt_first + txt + txt_last;
                                }
                            }
                        ],
                        "columns": [
                            { "data": "ques_id" },
                            { "data": "max_score" },
                            { "data": "question" },
                            { "data": "breakdown" }
                        ]
                    }
                )

                $('#tblSCQuestions').on('change', '#given_mark', function () {

                    var data = tblSCQuestion.row($(this).closest('tr')).data();
                    eval.score = this.value;
                    if (data != null || data != undefined) {

                        eval.ques_mapping_id = data.question_mapping_id;
                        var valueChanged = false;

                        for (var k = 0; k < evalList.length; k++) {
                            var map_id = evalList[k].ques_mapping_id;
                            var new_map_id = eval.ques_mapping_id;
                            if (new_map_id == map_id) {
                                console.log("value change");
                                evalList[k].score = eval.score;
                                valueChanged = true;
                            }
                        }
                        if (!valueChanged) {
                            console.log("value added");
                            evalList.push(eval);
                        }
                    }
                });
                /*tbl.columns().every(function () {
                    var data = this.data();
                    // ... do something with data(), or this.nodes(), etc
                });*/
            });
        }

        function loadCQScoreCardQuestions(vc_sc) {

            $('#tblCQSCQuestions').DataTable().clear().destroy();
            $(document).ready(function () {
                tblCQSCQuestion = $('#tblCQSCQuestions').DataTable(
                    {
                        "responsive": true,
                        "lengthChange": false,
                        "autoWidth": false,
                        "bInfo": false,
                        "paging": false,
                        "dom": 'Bfrtip',
                        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                        "ajax": {
                            "url": "/Evaluator/GetCallQualityScorecardQuestions",
                            "type": "POST",
                            "data": { "score_card_id": vc_sc },
                            "datatype": "json"
                        },
                        "columnDefs": [
                            { "width": "10%", "targets": 0 },
                            { "width": "70%", "targets": 1 },
                            { "width": "20%", "targets": 2 },
                            {
                                "defaultContent": "-",
                                "targets": "_all"
                            },
                            {
                                "targets": 2,
                                "data": "active",
                                "render": function (data, type, row) {

                                    var eval = {};
                                    eval.ques_mapping_id = row.question_mapping_id;

                                    var strArr = row.breakdown.split(".");
                                    var txt_first = '<select name="given_mark_cq" id="given_mark_cq">';
                                    var txt;
                                    for (var i = 0; i < strArr.length + 1; i++) {

                                        eval.score = strArr[0];
                                        evalList.push(eval);

                                        if (i != null && i != "") {
                                            //~~~dont know the reason i start from 1 not 0
                                            txt = txt + '<option value="' + strArr[i - 1] + '">' + strArr[i - 1] + '</option>';
                                        }
                                    }
                                    var txt_last = '</select>'
                                    return txt_first + txt + txt_last;
                                }
                            }
                        ],
                        "columns": [
                            { "data": "ques_id" },
                            { "data": "question" },
                            { "data": "breakdown" }
                        ]
                    }
                )

                $('#tblCQSCQuestions').on('change', '#given_mark_cq', function () {

                    var data = tblCQSCQuestion.row($(this).closest('tr')).data();
                    eval.score = this.value;
                    if (data != null || data != undefined) {

                        eval.ques_mapping_id = data.question_mapping_id;
                        var valueChanged = false;

                        for (var k = 0; k < evalList.length; k++) {
                            var map_id = evalList[k].ques_mapping_id;
                            var new_map_id = eval.ques_mapping_id;
                            if (new_map_id == map_id) {
                                console.log("value change");
                                evalList[k].score = eval.score;
                                valueChanged = true;
                            }
                        }
                        if (!valueChanged) {
                            console.log("value added");
                            evalList.push(eval);
                        }
                    }
                });
                /*tbl.columns().every(function () {
                    var data = this.data();
                    // ... do something with data(), or this.nodes(), etc
                });*/
            });
        }
    </script>
}