﻿@{
    ViewBag.Title = "Login";
}
@model PPMPortal.Models.System_User

<div class="row min-hgt login-back">
    <div class="col-md-12 pad-mob">
        <div class="row align-items-center">
            <div class="col-md-6 left-div">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-8 offset-md-2 login-box">
                        <div class="row">
                            <div class="col-md-3 offset-md-9 text-right">
                                <select class="form-control">
                                    <option value="value">English</option>
                                    <option value="value">සිංහල</option>
                                    <option value="value">தமிழ்</option>
                                </select>
                            </div>
                        </div>
                        <img src="~/Images/logo.png" class="img-fluid national-logo" alt="national symbol" />
                        <div class="pad-header-text">
                            <h2><p class="head-txt">PEARL Performance Module</p></h2>
                        </div>
                        <div>
                            <form action="/Login/ADLogin" method="post">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        @Html.TextBoxFor(m => m.username, new { placeholder = "employee no.", @class = "form-control", id = "username" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        @Html.TextBoxFor(m => m.password, new { placeholder = "password", @class = "form-control", Type = "password", id = "password" })
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" id="buttonLogin" class="btn btn-danger wild-btn">Sign In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts_external{

    <script type="text/javascript">

        $.ajaxSetup({ global: true });
        $('document').ready(function () {
            $(document).ajaxStart(function () {

                //$.blockUI({ message: null });
                //NProgress.configure({ showSpinner: false });
                $("#customPreloader").addClass("active");
                //NProgress.start();
            });

            $(document).ajaxStop(function () {
                NProgress.done(true);
                //$.unblockUI();
                $("#customPreloader").removeClass("active");
            });
        });

   $(document).ready(function () {
       if ('@TempData["message"]' == "error1") {
           notifyToast('bg-danger', '_______ Notification ______', '', 'You dont have access');
       }
       else{ }
   });

    function CheckLogin() {

    jQuery.ajax({
    type: "POST",
    url: "@Url.Action("LogInPressed", "Home")",
    dataType: "json",
    contentType: "application/json; charset=utf-8",
    data: JSON.stringify({ serviceNumber: document.getElementById('inputServiceNumber').value, password: document.getElementById('inputPassword').value }),
    success: function (result) {
    if (result.isSuccess) {
    window.location.href = result.dataBundle;
    }
    else {
    sweetAlert({ title: "Error", text: result.errorMessage + " " + result.errorShow, type: "error", allowEscapeKey: false, allowOutsideClick: false }).then(function ()
    {

    });
    }
    },
    failure: function (errMsg) {
    alert(errMsg);
    }
    });
    }

    $("#buttonLogin1").click(function () {
    //testSubmit();
    CheckLogin();
    });

    $('#inputPassword').keypress(function (e) {
    if (e.which == 13) {
    CheckLogin();
    }
    });
    </script>
}

