﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PEARL Performance Module</title>
    <link href="~/CSS/all.css" rel="stylesheet" />
    <link href="~/CSS/animations.css" rel="stylesheet" />
    <link href="~/CSS/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/CSS/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/CSS/roboto.css" rel="stylesheet" />
    <link href="~/CSS/preloaderSLT.css" rel="stylesheet" />
    <link href="~/CSS/style.css" rel="stylesheet" />

    <link rel="icon" href="~/images/logo-ih.png" sizes="16x16" type="image/jpg">
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <script src="~/scripts/chart.js"></script>
    <script src="~/scripts/popper.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/core.js"></script>
    <link href="~/CSS/bootstrap-select.min.css" rel="stylesheet" />
    <script src="~/scripts/bootstrap-select.min.js"></script>
    <link href="~/CSS/animate.css" rel="stylesheet" />
    <link href="~/CSS/sweetalert2.css" rel="stylesheet" />
    <link href="~/CSS/nprogress.css" rel="stylesheet" />
    <script src="~/scripts/nprogress.js"></script>
    <script src="~/scripts/sweetalert2.js"></script>
    <script src="~/scripts/jquery.blockUI.js"></script>
    <link href="~/CSS/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/scripts/bootstrap-datepicker.min.js"></script>


    <script src="~/scripts/jquery.dataTables.min.js"></script>
    <script src="~/scripts/dataTables.buttons.min.js"></script>
    <script src="~/scripts/buttons.flash.min.js"></script>
    <script src="~/scripts/jszip.min.js"></script>
    <script src="~/scripts/pdfmake.min.js"></script>
    <script src="~/scripts/vfs_fonts.js"></script>
    <script src="~/scripts/buttons.html5.min.js"></script>
    <script src="~/Scripts/buttons.print.min.js"></script>
</head>
<body>

    @RenderBody()

    <div class="preloader-wrapper" id="customPreloader">
        <div id="cssload-loader">
            <img src="~/images/SLTLogo-png.png" class="slt-loading" />
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
        </div>
    </div>
    <script src="~/scripts/css3-animate-it.js"></script>
    <!-- custom js-->
    <script src="~/Content/common_.js"></script>

    @RenderSection("scripts_external", required: false)
</body>
</html>